<div id="mainContainer">
  <p id="title">Lista dań</p>


  <table *ngIf="dishes && dishes.length!=0">
    <tr>
      <th>Id dania</th>
      <th>nazwa</th>
      <th>cena</th>
      <th>szczegóły</th>
    </tr>

    <tr *ngFor="let dish of dishes" class="dishRow">
      <td>{{dish.id}}</td>
      <td>{{dish.name}}</td>
      <td align="right" valign="middle">{{dish.price}} zł</td>
      <td>
        <button [routerLink]="['/admin/dishes/details', dish.id]">Szczegóły</button>
      </td>
    </tr>

  </table>

</div>
