body {
  display: flex;
  justify-content: center;
  align-items: flex-start;

}

#cart {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  background-color: skyblue;
  margin-right: 20px;
}

#menu {
  background-color: lightsteelblue;

}
