<div id="mainContainer">
  <p id="title">Lista zamówień</p>


  <table *ngIf="orders && orders.length!=0">
    <tr>
      <th>id zamówienia</th>
      <th>nazwisko</th>
      <th>status</th>
      <th>kwota</th>
      <th>szczegóły</th>
    </tr>

    <tr *ngFor="let order of orders">
      <td>{{order.id}}</td>
      <td>{{order.orderDetails.lastName}}</td>
      <td>{{order.status}}</td>
      <td>{{order.sum}}</td>
      <td>
        <button [routerLink]="['/admin/orders/details', order.id]">Szczegóły</button>
      </td>
    </tr>

  </table>

</div>
