<div id="mainContainer">
  <p id="title">Szczegóły zamówienia</p>
  <table *ngIf=order>

    <tr>
      <th>Id zamówienia</th>
      <td>{{order.id}}</td>
    </tr>
    <tr>
      <th>Dostawa</th>
    <tr>
      <th>Imię</th>
      <td>{{order.orderDetails.firstName}}</td>
    </tr>
    <tr>
      <th>Nazwisko</th>
      <td>{{order.orderDetails.lastName}}</td>
    </tr>
    <tr>
      <th>Adres</th>
      <td>{{order.orderDetails.street}}</td>
    </tr>
    <tr>
      <th>Telefon</th>
      <td>{{order.orderDetails.phone}}</td>
    </tr>

    <tr>
      <th>Kwota</th>
      <td align="right" valign="middle">{{order.sum}} zł</td>
    </tr>
    <tr>
      <th>Status</th>
      <td>{{order.status}}</td>
    </tr>
    <tr>
      <th>Zmień status</th>
      <td>
        <button href="#" (click)="changeStatusToInProgress()">W trakcje realizacji</button>
        <button href="#" (click)="changeStatusToInDelivery()">Wysłane</button>
        <button href="#" (click)="changeStatusToDelivered()">Dostarczone</button>
      </td>
    </tr>
    <tr>
      <th>Dania</th>
      <td>
        <table id="orderItems" *ngIf="order">
          <tr>
            <th>id dania</th>
            <th>nazwa</th>
            <th>cena</th>
            <th>sztuki</th>
          </tr>
          <tr *ngFor="let dish of dishes">
            <td>{{dish.id}}</td>
            <td>{{dish.name}}</td>
            <td align="right" valign="middle">{{dish.price}} zł</td>
            <td>{{dish.amount}}</td>
          </tr>

        </table>
      </td>
    </tr>


    <tr>
      <td>Usuń zamówienie</td>
      <td>
        <button href="#" (click)="deleteOrder(order)">Usuń</button>

      </td>
    </tr>
    <tr>


  </table>


  <button routerLink="/admin/orders">Wróć</button>
</div>
