<span *ngIf="order">{{order | json}}
</span>



<div id="orderItems" *ngIf="order">
  <app-orders-details-dish *ngFor="let dish of dishes" [dish]="dish"></app-orders-details-dish>

</div>

<span>Zmien status zamowienia</span>
<span>
  <button href="#" (click)="changeStatusToInProgress()">W trakcje realizacji</button>
<button href="#" (click)="changeStatusToInDelivery()">Wyslane</button>
<button href="#" (click)="changeStatusToDelivered()">Dostarczone</button>
</span>
<span><button routerLink="/admin/orders">back</button></span>
