#cart {
  padding: 20px;

}

button {
  background-color:#599bb3;
  -moz-border-radius:28px;
  -webkit-border-radius:28px;
  border-radius:5px;
  border:1px solid skyblue;
  cursor:pointer;
  color:#ffffff;
  font-family:Arial;

  padding:10px 10px;
  text-decoration:none;
  text-shadow:0px 1px 0px #3d768a;
  margin:5px;
  outline: none;
}

button:hover {
  background-color:#408c99;
}
button:active {
  position:relative;
  top:1px;
}


