<table *ngIf=dish>

  <tr><td>Id dania</td><td>{{dish.id}}</td></tr>
  <tr><td>Nazwa</td><td>{{dish.name}}</td></tr>
  <tr><td>Opis</td><td>{{dish.description}}</td></tr>
  <tr><td>Typ</td><td>{{dish.type}}</td></tr>
  <tr><td>Cena</td><td>{{dish.price}}</td></tr>
  <tr><td>Dostepnosc</td><td>{{dish.isAvailable}}</td></tr>
  <tr><td>Zmien dostepnosc</td><td><input type="checkbox"
             [checked]="dish.isAvailable" (change)="changeAvailability()"><td></tr>
  <tr>
    <td>Usun danie</td>
    <td>
      <button href="#" (click)="deleteDish(dish)">Usun</button>

    </td>
  </tr>
  <tr>
</table>
<button routerLink="/admin/dishes">back</button>



