header {

  font-style: italic;
  color:green;
  padding: 5px;
}

body {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  border: 1px dashed darkslateblue;
  font-family:Arial;
  color: darkslateblue;
}
