#mainContainer {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

#homeMessage {
  background-color: lightblue;
  width: 50%;
  margin: 20px;
  padding: 20px;
  text-align: center;



}
