<div id="mainContainer">


  <form [formGroup]="orderDetailsData" (ngSubmit)="onSubmit()">
    <label>imię
      <input type="text" formControlName="firstName"/>
    </label>
    <div class="error" *ngIf="orderDetailsData.get('firstName').hasError('required') && submitted">
      Pole z imieniem jest wymagane
    </div>

    <label>nazwisko
      <input type="text" formControlName="lastName"/>
    </label>
    <div class="error" *ngIf="orderDetailsData.get('lastName').hasError('required') && submitted">
      Pole z nazwiskiem jest wymagane
    </div>
    <label>ulica
      <input type="text" formControlName="street"/>
    </label>
    <div class="error" *ngIf="orderDetailsData.get('street').hasError('required') && submitted">
      Pole z ulicą jest wymagane
    </div>
    <label>telefon
      <input type="text" formControlName="phone"/>
    </label>
    <div class="error" *ngIf="orderDetailsData.get('phone').hasError('required') && submitted">
      Pole z numerem telefonu jest wymagane
    </div>

    <button type="submit">Potwierdź zamowienie</button>

    <p *ngIf="saved">Zamowienie zostało przesłane!</p>

  </form>

</div>
