#mainContainer {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  border: 1px solid black;
  background-color: lightsteelblue;
  border-radius:20px;
  margin: 20px;

}

#form {
  width:400px;
  margin: 20px;

}

#cart {
  width:300px;
}
